body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

.quote {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}

.quote p {
    margin: 10px 0;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #6495ED;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #00008B;
}

.author-description {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    padding: 30px;
    max-width: 600px;
    margin: 20px auto;
}

.author-description p {
    margin: 20px 0;
    font-size: 18px;
}

.author-description p:first-child {
    font-weight: bold;
}

.back-button {
    display: block;
    width: 120px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background-color: #6495ED;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #00008B;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #6495ED;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #00008B;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-buttons {
    display: flex;
}
.right-buttons {
    display: flex;
}

.buttons, .auth {
    margin-right: 10px;
    padding: 10px;
    background-color: #6495ED;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons:hover, .auth:hover {
    background-color: #00008B;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 50px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #6495ED;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #00008B;
}

button.signup-button {
    display: inline-block;
    background-color: #6495ED;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}

button.signup-button:hover {
    background-color: #00008B;
}

.signup {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #6495ED;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.signup:hover {
    background-color: #00008B;
}